@{
    ViewBag.Title = "Home Page";
}

<div id="headerwrap">
    <div class="row" style="width:100%">
        <div class="col-lg-6 col-lg-offset-3" style="bottom: 120px;">
            <h2>Austin Roeder</h2>
            <h4>WEB DESIGNER AND DEVELOPER</h4>
        </div>
    </div>
</div>
<section id="works">
    <div style="background-color: #ececec">
        <div class="container">
            <div class="row centered mt mb">
                <h1>My Portfolio</h1>
                <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                    <a href="/Home/JavaScript"><img src="~/img/portfolio/folio01.png" class="img-responsive"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                    <a href="#"><img src="~/img/portfolio/folio02.png" class="img-responsive"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                    <a href="#"><img src="~/img/portfolio/folio03.png" class="img-responsive"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                    <a href="#"><img src="~/img/portfolio/folio04.png" class="img-responsive"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                    <a href="#"><img src="~/img/portfolio/folio05.png" class="img-responsive"></a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 gallery">
                    <a href="#"><img src="~/img/portfolio/folio06.png" class="img-responsive"></a>
                </div>
            </div><!-- --/row ---->
        </div>
        <div class="container">
            <div class="row centered">
                <h2>Connect With Me Online</h2>
                <div class="col-md-4">
                    <h3>GitHub</h3>
                    <p>
                        <!--Github account setup-->
                        <img src="~/img/github_img.png" style="height: 64px; width: 64px;" />
                    </p>
                    <p><a class="btn btn-default" href="https://github.com/Veidron" target="_blank">My GitHub &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h3>LinkedIn</h3>
                    <p>
                        <!--Github account setup-->
                        <img src="~/img/linkedin.png" style="height: 64px; width: 64px;" />
                    </p>
                    <p><a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=349268042" target="_blank">My LinkedIn &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h3>CoderByte</h3>
                    <p>
                        <!--CoderByte account setup-->
                        <img src="~/img/coderbyte.png" style="height: 64px; width: 64px;" />
                    </p>
                    <p><a class="btn btn-default" href="http://coderbyte.com/CodingArea/Profile/?user=Veidron" target="_blank">My Coding Area &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
</section>